.code {
    padding: 10px;
    padding-top: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    background: #000;
    color: #fff;
}
.copyBtn {
    width: fit-content;
    height: fit-content;
    transform: translateX(85vw);
    background: #000;
    border: none;
    color: white;
    cursor: pointer;
}